@media(max-width: 550px){
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .navbar .logo{
        max-width: 200px;
    }
    .showcase-content h2{
        font-size: 2.5rem;
    }
    .showcase-content p.lead{
        font-size: 1.2rem;
    }
    .btn{
        font-size: 1rem;
    }
    .container{
        max-width: 90%;
    }
    /* what */ .items{
        flex-direction: column;
    }
    #who{
        flex-direction: column-reverse;
    }
    #who>*{
        flex: none;
    }
    #who .who-img{
        min-height: 300px;
    }
    /* #clients .items > .item{
        padding: 0;
     */
    #contact{
        flex-direction: column;
    }

}